.alata-regular {
  font-family: "Alata";
  font-weight: 400;
  font-style: normal;
}
.alata-bold {
  font-family: "Alata";
  font-weight: 700;
  font-style: normal;
}
.alata-small {
  font-family: "Alata";
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, span, div {
  margin: 0;
  padding: 0;
}
.responsive-img {
  width: 100%;
  height: auto;
  max-width: 450px;     
  display: block;
  margin: 0 auto;       
}